#body {
    margin: auto;
    width: 80%;
    background: #e9eaed;
    padding: 2%;
    border-radius: 25px;
    overflow: auto;
}

.annonce {
	border: 1px solid white;
    float: left;
    margin: 2%;
    border-radius: 20px;
    padding: 2%;
    width: 25%;
    height: 200px;
    overflow: hidden;
    color: black;
}

.annonce:hover {
	border: 1px solid #369;
}

#annonce {
    border-radius: 20px;
    padding: 2%;
    width: 30%;
    margin: auto;
}

.infos {
	float: right;
}
.hidden {
	display: none;
}

.floatright {
	float: right;
}

.annonce h2, #annonce h2, h1.title {
	color: #369;
}

h1.title {
    margin-left: 10%;
}

.title a {
	color: #369;
	text-decoration: none;
}	

.commentaires {
	width: 40%;
	padding: 1%;
	margin: auto;
}

.commentaire {
	padding: 2%;
	margin-bottom: 2%;
	background-color: darkgrey;
}

.utilisateur {
	color: #369;
}

.commentaires textarea {
	resize: none;
	width: 400px;
    height: 75px;
}

.inputCommentaire {
	padding: 1%;
}

.submitCommentaire {
	text-align: center;
}