#body {
    margin: auto;
    width: 80%;
    background: #e9eaed;
    padding: 2%;
    border-radius: 25px;
    overflow: auto;
}

.annonce {
	border: 1px solid white;
    float: left;
    margin: 2%;
    border-radius: 20px;
    padding: 2%;
    width: 25%;
    height: 200px;
    overflow: hidden;
}

#annonce {
    margin: 2%;
    border-radius: 20px;
    padding: 2%;
    width: 30%;
    margin: auto;
}

.infos {
	float: right;
}
.hidden {
	display: none;
}

.floatright {
	float: right;
}

.annonce h2, #annonce h2, h1.title {
	color: #369;
}

h1.title {
	color: #369;
    margin-left: 10%;
}